In [2]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [3]:
df = pd.read_csv(os.path.join("MoviesOnStreamingPlatforms_updated.csv"))
df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Rotten Tomatoes (Weighted),Average of IMDb and RT,Netflix,...,Disney+,Type,Directors,Genres,Action,Comedy,Drama,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,0.87,8.7,8.75,1,...,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller",1.0,NaN,NaN,"United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,0.87,8.7,8.70,1,...,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",1.0,NaN,NaN,United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,0.84,8.4,8.45,1,...,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",1.0,NaN,NaN,United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,0.96,9.6,9.05,1,...,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",NaN,1.0,NaN,United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,9.7,9.25,1,...,0,0,Sergio Leone,Western,NaN,NaN,NaN,"Italy,Spain,West Germany",Italian,161.0

In [4]:
new_df = df[["Year", "IMDb", "Rotten Tomatoes", "Action", "Comedy", "Drama"]]
new_df

       Year  IMDb  Rotten Tomatoes  Action  Comedy  Drama
0      2010   8.8             0.87     1.0     NaN    NaN
1      1999   8.7             0.87     1.0     NaN    NaN
2      2018   8.5             0.84     1.0     NaN    NaN
3      1985   8.5             0.96     NaN     1.0    NaN
4      1966   8.8             0.97     NaN     NaN    NaN
...     ...   ...              ...     ...     ...    ...
16739  1980   6.2              NaN     NaN     1.0    NaN
16740  2001   4.7              NaN     NaN     1.0    NaN
16741  2013   5.7              NaN     NaN     NaN    NaN
16742  2017   6.6              NaN     NaN     NaN    NaN
16743  1950   NaN              NaN     NaN     NaN    NaN

[16744 rows x 6 columns]

In [5]:
new_df["Drama"].fillna(0, inplace = True)
new_df

C:\Users\Jenna Morehead\anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

       Year  IMDb  Rotten Tomatoes  Action  Comedy  Drama
0      2010   8.8             0.87     1.0     NaN    0.0
1      1999   8.7             0.87     1.0     NaN    0.0
2      2018   8.5             0.84     1.0     NaN    0.0
3      1985   8.5             0.96     NaN     1.0    0.0
4      1966   8.8             0.97     NaN     NaN    0.0
...     ...   ...              ...     ...     ...    ...
16739  1980   6.2              NaN     NaN     1.0    0.0
16740  2001   4.7              NaN     NaN     1.0    0.0
16741  2013   5.7              NaN     NaN     NaN    0.0
16742  2017   6.6              NaN     NaN     NaN    0.0
16743  1950   NaN              NaN     NaN     NaN    0.0

[16744 rows x 6 columns]

In [6]:
new_df = new_df.dropna()
new_df.head()

     Year  IMDb  Rotten Tomatoes  Action  Comedy  Drama
33   2018   7.6             0.94     1.0     1.0    0.0
48   2010   7.5             0.81     1.0     1.0    0.0
60   2018   7.1             0.88     1.0     1.0    0.0
74   2004   7.7             0.90     1.0     1.0    0.0
117  2011   7.2             0.81     1.0     1.0    0.0

In [7]:
X = new_df.drop("Drama", axis=1)
y = new_df["Drama"]
print(X.shape, y.shape)

(174, 5) (174,)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [9]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [11]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [13]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.823076923076923
Testing Data Score: 0.7045454545454546

In [14]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
First 10 Actual labels: [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [15]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction  Actual
0          0.0     1.0
1          0.0     0.0
2          0.0     0.0
3          0.0     0.0
4          0.0     0.0
5          0.0     0.0
6          0.0     0.0
7          0.0     0.0
8          0.0     0.0
9          0.0     0.0
10         0.0     0.0
11         0.0     0.0
12         0.0     0.0
13         0.0     0.0
14         0.0     1.0
15         0.0     0.0
16         0.0     1.0
17         0.0     1.0
18         0.0     1.0
19         0.0     0.0
20         0.0     0.0
21         0.0     0.0
22         0.0     0.0
23         0.0     0.0
24         0.0     0.0
25         0.0     0.0
26         0.0     1.0
27         0.0     1.0
28         0.0     0.0
29         0.0     1.0
30         0.0     0.0
31         0.0     1.0
32         0.0     1.0
33         0.0     0.0
34         0.0     0.0
35         0.0     1.0
36         0.0     0.0
37         0.0     1.0
38         0.0     1.0
39         0.0     0.0
40         0.0     0.0
41         0.0     0.0
42         0.0     0.0
43         0.0     0.0

43/173